<link rel="stylesheet" href="/css/cropper.css">
<style>
	.label {
		cursor: pointer;
	}

	.progress {
		display: none;
		margin-bottom: 1rem;
	}

	.alert {
		display: none;
	}

	.img-container img {
		/* max-width: 100%; */
		width: 100%;
		height: 100%;
	}
</style>
<div class="container-fluid">

	<!-- Section: Edit Account -->
	<section class="section">
		{{#with userdata}}
		<form class="form-horizontal" method="POST" action="/admin/edit-dealer/{{this._id}}"
			enctype="multipart/form-data">
			<!-- First row -->
			<div class="row">
				{{!-- Form start --}}

				<!-- First column -->
				<div class="col-lg-4 mb-4">

					<!-- Card -->
					<div class="card card-cascade narrower">

						<!-- Card image -->
						<div class="view view-cascade gradient-card-header mdb-color lighten-3">
							<h5 class="mb-0 font-weight-bold">Profile Photo</h5>
						</div>
						<!-- Card image -->

						<!-- Card content -->
						<div class="card-body card-body-cascade text-center">
							<img src="{{profilePicture}}" alt="User Photo"
								class="z-depth-1 mb-3 mx-auto img-fluid" alt="User Photo" id="imageView" name="image1" onclick='$("#FileUpload").click()'>

							<p class="text-muted"><small>Change Your Image</small></p>
							<div class="row flex-center">
								<input type="hidden" name="image" id="newimage">
								<input type="file" id="FileUpload" 
									style="display: none;">
								
								<a class="btn btn-info btn-rounded btn-sm waves-effect waves-light"
									onclick='$("#FileUpload").click()'>Change
									Photo</a>
								
							</div>
						</div>
						<!-- Card content -->

					</div>
					<!-- Card -->

				</div>

				<!-- First column -->

				<!-- Second column -->
				<div class="col-lg-8 mb-4">

					<!-- Card -->
					<div class="card card-cascade narrower">

						<!-- Card image -->
						<div class="view view-cascade gradient-card-header mdb-color lighten-3">
							<h5 class="mb-0 font-weight-bold">Account Details</h5>
						</div>
						<!-- Card image -->

						<!-- Card content -->
						<div class="card-body card-body-cascade text-center">
							{{#if ../registrationStatus}}

							<div class="alert alert-success alert-dismissible fade show" role="alert">
								<strong>{{../registrationStatus}}</strong>
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							{{/if}}



							<!-- First row -->

							<div class="row">

								<!-- First column -->
								<div class="col-md-6">
									<div class="md-form mb-0">
										<input type="text" class="form-control validate" value="{{username}}"
											name="username" placeholder="Username" readonly>
										<label for="form1" data-error="wrong" data-success="right">Username</label>
									</div>
									{{#if usenameExistError}}
									<div class="alert alert-danger  alert-dismissible fade show" role="alert">
										<strong>{{usenameExistError}}</strong>
									</div>

									{{/if}}
								</div>
								<!-- Second column -->
								<div class="col-md-6">
									<div class="md-form mb-0">
										<input type="password" name="password" class="form-control validate"
											placeholder="Password" value="">
										<label for="password" data-error="wrong" data-success="right">Password</label>
									</div>
								</div>
							</div>
							<!-- First row -->

							<!-- First row -->
							<div class="row">
								<!-- First column -->
								<div class="col-md-6">
									<div class="md-form mb-0">
										<input type="text" id="form81" name="storename" placeholder="Store Name"
											class="form-control validate" value="{{storeName}}" required>
										<label for="form81" data-error="wrong" data-success="right">Store Name</label>
									</div>
								</div>

								<!-- Second column -->
								<div class="col-md-6">
									<div class="md-form mb-0">
										<input type="text" name="name" placeholder="Dealer Name"
											class="form-control validate" value="{{this.name}}">
										<label for="Dealer Name" data-error="wrong" data-success="right">Dealer
											Name</label>
									</div>
								</div>
							</div>
							<!-- First row -->

							<!-- Second row -->
							<div class="row">

								<!-- First column -->
								<div class="col-md-6">
									<div class="md-form mb-0">
										<input type="email" name="email" placeholder="abc@somthing.com"
											class="form-control validate" value="{{this.email}}">
										<label for="email">Email address</label>
									</div>
								</div>
								<!-- Second column -->
								<div class="col-md-6">
									<div class="md-form mb-0">
										<input type="text" name="phoneNumber" placeholder="99999999"
											class="form-control validate" value="{{this.phoneNumber}}" onblur="phonenumber(this)">
										<label for="phone Number" data-error="wrong" data-success="right">Phone
											Number</label>
											<span class="validation-error-phonenumber"></span>
									</div>
								</div>
							</div>
							<!-- Second row -->

							<!-- Third row -->
							<div class="row">

								<!-- First column -->

								<div class="col-md-6">
									<div class="md-form mb-0">
										<textarea type="text" name="address" class="md-textarea form-control"
											rows="3">{{address}}</textarea>
										<label for="form78">Address</label>
									</div>
								</div>
								<!-- Second column -->
								<div class="col-md-6">
									<div class="md-form mb-0">
										<textarea type="text" name="extrainfo" class="md-textarea form-control"
											rows="3">{{extraInFormation}}</textarea>
										<label for="form78">Extra Information</label>

									</div>
								</div>
							</div>
							<!-- Third row -->

							<!-- Fourth row -->
							<div class="row">
								<div class="col-md-12 text-center my-4">
									<input type="submit" value="Update" class="btn btn-outline-success btn-rounded">
								</div>
							</div>
							<!-- Fourth row -->



						</div>
						<!-- Card content -->

					</div>
					<!-- Card -->

				</div>
				<!-- Second column -->

			</div>
			<!-- First row -->

	</section>
	<!-- Section: Edit Account -->
	</form>
	{{/with}}
</div>


{{!-- Modal Image crop --}}
<div class="modal fade " id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content modal-lg">
			<div class="modal-header">
				<h5 class="modal-title" id="modalLabel">Crop the image</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="img-container">
					<img id="image" src="https://avatars0.githubusercontent.com/u/3456749">
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-primary" id="crop">Crop</button>
			</div>
		</div>
	</div>
</div>
{{!-- Modal Image crop --}}

<script>
	{{!-- function viewImage(event) {
		document.getElementById('imageView').src = URL.createObjectURL(event.target.files[0])
	} --}}
//phonenumber
       function phonenumber(inputtxt) {

           var phoneno = /^[6-9]\d{9}$/, text;

           if (inputtxt.value.match(phoneno) || inputtxt.value.length == 0) {
               text = "";
           }
           else {
               text = "Not a valid Phone Number";
           }
           $(".validation-error-phonenumber").html(text);

       }

</script>
<script src="/js/cropper.js"></script>
<script>
	window.addEventListener('DOMContentLoaded', function () {
		
		var avatar = document.getElementById('imageView');
		var image = document.getElementById('image');
		var input = document.getElementById('FileUpload');

		var $modal = $('#modal');
		var cropper;

		$('[data-toggle="tooltip"]').tooltip();

		input.addEventListener('change', function (e) {
			var files = e.target.files;
			var done = function (url) {
				input.value = '';
				image.src = url;

				$modal.modal('show');
			};
			var reader;
			var file;
			var url;

			if (files && files.length > 0) {
				file = files[0];

				if (URL) {
					done(URL.createObjectURL(file));
				} else if (FileReader) {
					reader = new FileReader();
					reader.onload = function (e) {
						done(reader.result);
					};

					reader.readAsDataURL(file);
				}
			}
		});

		$modal.on('shown.bs.modal', function () {
			cropper = new Cropper(image, {
				aspectRatio: 1,
				viewMode: 3,
			});
		}).on('hidden.bs.modal', function () {
			cropper.destroy();
			cropper = null;
		});

		document.getElementById('crop').addEventListener('click', function () {
			var initialAvatarURL;
			var canvas;

			$modal.modal('hide');

			if (cropper) {
				canvas = cropper.getCroppedCanvas({
					width: 400,
					height: 400,
				});
				initialAvatarURL = avatar.src;
				avatar.src = canvas.toDataURL();
				$('#newimage').val(canvas.toDataURL())
			}
		});
	});
</script>