{{#each orders}}

<div class="row text-grey blue-grey lighten-5  z-depth-1 mx-2 my-3 py-2  ">
  <div class="col-9 ">
    <div class=" mb-0 ">
      <p>Order Id.&nbsp; <span class="font-weight-bold text-truncate ">{{this.id}}</span>
      </p>
      <p> Name.&nbsp; <span class="font-weight-bold text-truncate ">{{this.name}}</span>
      
       <small class="text-muted">({{this.address}})</small>
      </p>

      <p class="text-capitalize m-0 mr-2 pr-1">Total Amount.&nbsp;<span class="font-weight-bold">{{this.totalPrice}}
        </span></p>


    </div>
  </div>
  <div class="col-3 ">
   <a id="{{this.id}}" class="btn btn-outline-blue btn-sm waves-effect waves-light showtrack" onclick="showTraking(this.id)" ><i class="fas fa-eye left"></i> Track</a>
  </div>

</div>
{{/each}}