<div class="container-fluid">
    <!--Section: Main panel-->
    <!-- Section: Block Content -->
    <section>

        <!--Grid row-->
        <div class="row justify-content-between">

            <!--Grid column-->
            <div class="col-lg-3  col-sm-6  ">
                {{!-- <h3>Products</h3> --}}
                <div class="media text-center ">
                    <div class="media-body  p-3">
                       <h3>Products</h3>
                       
                    </div>
                </div>
            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-lg-3  col-sm-6 mb-4 ">
                <div class="media  text-center">
                    <!-- <i class="fas fa-download fa-lg pink z-depth-1 p-4 rounded-left text-white mr-3"></i> -->
                    <div class="media-body p-1">
                        <a href="/dealer/product" class="btn btn-info btn-rounded">
                            Add Product
                        </a>

                    </div>
                </div>
            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->
    </section>
    <!-- Section: Block Content -->
</div>

<div class="container  py-3 z-depth-1 rounded">
    <!--Section: Content-->
    <section class="dark-grey-text">

        <!-- Shopping Cart table -->
        <div class="table-responsive">

            <table class="table product-table mb-0">

                <!-- Table head -->
                <thead class="mdb-color lighten-5">
                    <tr>
                        <th class="font-weight-bold">
                            <strong>#</strong>
                        </th>
                        <th class="font-weight-bold">
                            <strong>Image</strong>
                        </th>
                        <th class="font-weight-bold">
                            <strong>Name</strong>
                        </th>
                        <th class="font-weight-bold">
                            <strong>Category</strong>
                        </th>
                        <th class="font-weight-bold">
                            <strong>Price</strong>
                        </th>
                        <th class="font-weight-bold">
                            <strong>Total</strong>
                        </th>
                        <th class="font-weight-bold">
                            <strong>Left</strong>
                        </th>
                        <th>Action</th>
                    </tr>
                </thead>
                <!-- /.Table head -->

                <!-- Table body -->
                <tbody>
{{#unless productDetails}}
<tr>
    <td colspan="8"><h1>No Data Found</h1></td>
</tr>

{{/unless}}
                    <!--  row -->
                    {{#each productDetails}}
                    <tr>
                        <th class="align-middle" scope="row" id="{{this._id}}">{{numbering @index}}</th>
                        <td>
                            <img src="{{this.productImage}}" alt="product's image" class="img-fluid"
                                style="width: 50px;height:50px;">

                        </td>
                        <td><strong class="productName">{{this.name}} </strong></td>
                        <td>
                            <strong>{{this.category}}</strong>

                        </td>
                        <td>
                            <strong>{{this.price}}</strong>

                        </td>
                        <td>
                            <strong>{{this.stock}}</strong>

                        </td>
                        <td>
                            <strong>{{this.left}}</strong>

                        </td>

                        <td>
                            <a href="/dealer/edit-product/{{this._id}}" class="btn btn-sm btn-info"
                                data-toggle="tooltip" data-placement="top" title="Edit Product"><i
                                    class="fas fa-user-edit"></i>
                            </a>
                            <a href="javascript:void(0)" id="{{this._id}}" class="btn btn-sm btn-danger delClass"
                                data-toggle="tooltip" data-placement="top" title="Delete Product"><i
                                    class="fas fa-trash-alt"></i>
                            </a>

                            <a href="javascript:void(0)" id="{{this._id}}" class="btn btn-sm btn-warning banClass"
                               data-toggle="tooltip" data-placement="top"  title="Block Product"><i
                                    class="fas fa-ban"></i>
                            </a>
                        </td>
                    </tr>
                    {{/each}}
                    <!-- /. row -->


                </tbody>
                <!-- /.Table body -->

            </table>

        </div>
        <!-- /.Shopping Cart table -->

    </section>
    <!--Section: Content-->
    <!-- Session Modal -->
    <section>


        <!-- Ban deaer Modal -->
        <div class="modal fade" id="banProductModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-notify modal-warning" role="document">
                <!--Content-->
                <div class="modal-content">
                    <!--Header-->
                    <div class="modal-header">
                        <p class="heading lead">Ban Product </p>

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" class="white-text">&times;</span>
                        </button>
                    </div>

                    <!--Body-->
                    <div class="modal-body">
                        <div class="text-center">
                            <i class="fas fa-ban fa-4x mb-3 animated rotateIn"></i>
                            <p>Are you sure..?</p>
                            <p>Ban :
                                <strong class="text-warning" id="banName"></strong>
                            </p>
                        </div>
                    </div>

                    <!--Footer-->
                    <div class="modal-footer justify-content-center">
                        <a type="button" data-record-id="24" class="btn btn-warning btn-ok">Ban Product <i
                                class="fas fa-ban ml-1 text-white"></i></a>
                        <a type="button" class="btn btn-outline-warning waves-effect" data-dismiss="modal">No,
                            thanks</a>
                    </div>
                </div>
                <!--/.Content-->
            </div>
        </div>

        <!-- Ban dealer Modal-->
        <!-- Ban deaer Modal -->
        <div class="modal fade" id="deleteProductModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-notify modal-danger" role="document">
                <!--Content-->
                <div class="modal-content">
                    <!--Header-->
                    <div class="modal-header">
                        <p class="heading lead">Delate Product </p>

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" class="white-text">&times;</span>
                        </button>
                    </div>

                    <!--Body-->
                    <div class="modal-body">
                        <div class="text-center">
                            <i class="fas fa-trash fa-4x mb-3 animated rotateIn"></i>
                            <p>Are you sure..?</p>
                            <p>Delete :
                                <strong class="text-danger" id="delName"></strong>
                            </p>
                        </div>
                    </div>

                    <!--Footer-->
                    <div class="modal-footer justify-content-center">
                        <a type="button" data-record-id="23" class="btn btn-danger btn-ok">Delete Now <i
                                class="fas fa-trash ml-1 text-white"></i></a>
                        <a type="button" class="btn btn-outline-danger waves-effect" data-dismiss="modal">No,thanks</a>
                    </div>
                </div>
                <!--/.Content-->
            </div>
        </div>
        <!-- Ban dealer Modal-->
    </section>
    <!-- Session Modal End-->
</div>
<!--Section: Main panel-->

