<div class="container-fluid">
    <!--Section: Main panel-->
    <!-- Section: Block Content -->
    <section>

        <!--Grid row-->
        <div class="row justify-content-between">

            <!--Grid column-->
            <div class="col-lg-12  ">
                {{!-- <h3>Products</h3> --}}
                <div class="media align-middle">
                    <div class="media-body  p-4">
                        <h3>Products Ban List</h3>
                    </div>
                </div>
            </div>
            <!--Grid column-->
          
        </div>
        <!--Grid row-->
    </section>
    <!-- Section: Block Content -->
</div>

<div class="container  py-3 z-depth-1 rounded">
    <!--Section: Content-->
    <section class="dark-grey-text">

        <!-- Shopping Cart table -->
        <div class="table-responsive">

            <table class="table product-table mb-0">

                <!-- Table head -->
                <thead class="mdb-color lighten-5">
                    <tr>
                        <th class="font-weight-bold">
                            <strong>#</strong>
                        </th>
                        <th class="font-weight-bold">
                            <strong>Image</strong>
                        </th>
                        <th class="font-weight-bold">
                            <strong>Name</strong>
                        </th>
                        <th class="font-weight-bold">
                            <strong>Category</strong>
                        </th>
                        <th class="font-weight-bold">
                            <strong>Price</strong>
                        </th>
                        <th class="font-weight-bold">
                            <strong>Total</strong>
                        </th>
                        <th class="font-weight-bold">
                            <strong>Left</strong>
                        </th>
                        <th>Action</th>
                    </tr>
                </thead>
                <!-- /.Table head -->

                <!-- Table body -->
                <tbody>

                    <!--  row -->
                    {{#each productDetails}}
                    <tr>
                        <th class="align-middle" scope="row" id="{{this._id}}">{{numbering @index}}</th>
                        <td>
                            <img src="/products-pic/{{this.productImage}}" alt="product's image"
                                 style="width: 50px;height:50px;">

                        </td>
                        <td><strong class="productName">{{this.name}} </strong></td>
                        <td>
                            <strong>{{this.category}}</strong>

                        </td>
                        <td>
                            <strong>{{this.price}}</strong>

                        </td>
                        <td>
                            <strong>{{this.stock}}</strong>

                        </td>
                        <td>
                            <strong>{{this.left}}</strong>

                        </td>

                        <td>
                            <a href="javascript:void(0)" id="{{this._id}}" class="btn btn-sm btn-success banClass"
                                data-toggle="Unban" data-placement="top" data-toggle="Un ban Product"
                                title="Unban Product"><i class="fas fa-check"></i>
                            </a>
                        </td>
                    </tr>
                    {{/each}}
                    <!-- /. row -->


                </tbody>
                <!-- /.Table body -->

            </table>

        </div>
        <!-- /.Shopping Cart table -->

    </section>
</div>
<!--Section: Main panel-->

<section>
    <!-- Ban deaer Modal -->
    <div class="modal fade" id="unBanProductModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true" data-backdrop="static" >
        <div class="modal-dialog modal-notify modal-success" role="document">
            <!--Content-->
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header">
                    <p class="heading lead">Un-Ban Product</p>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="white-text">&times;</span>
                    </button>
                </div>

                <!--Body-->
                <div class="modal-body">
                    <div class="text-center">
                        <i class="fas fa-check fa-4x mb-3 animated rotateIn"></i>
                        <p>Click Active to Unban</p>
                        <p>
                        <strong class="text-success" id="banName"></strong>
                        </p>
                    </div>
                </div>

                <!--Footer-->
                <div class="modal-footer justify-content-center">
                    <a type="button" data-record-id="24" class="btn btn-success btn-ok">Active <i
                            class="fas fa-check ml-1 text-white"></i></a>
                    <a type="button" class="btn btn-outline-success waves-effect" data-dismiss="modal">No,
                        thanks</a>
                </div>
            </div>
            <!--/.Content-->
        </div>
    </div>

    <!-- Ban dealer Modal-->
</section>



<script>
    //ban deatails    

    $('.banClass').on('click', function (e) {
        var $row = $(this).closest('tr')
        var id = $(this).attr('id')
        var nameTxt = $row.find('.storeName').text().trim();
        $('#banName').html(nameTxt)
        $('.btn-ok', '#unBanProductModal').data('recordId', id);
        $("#unBanProductModal").modal('show')
    });

    $('#unBanProductModal').on('click', '.btn-ok', function (e) {
        var $modalDiv = $(e.delegateTarget);
        var id = $(this).data('recordId');
        $.ajax({
            type: "post",
            url: "/dealer/unbanProduct",
            data: { id: id },
            success: function (response) {
                if (response) {
                    
                    $('#' + id).parents("tr").remove();
                    toastr.success('Product Unbanned');
                }
            }
        });
        $modalDiv.modal('hide')
    });

</script>